<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto2"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.proyecto2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.proyecto2.Carrito"
            android:label="@string/title_activity_carrito" >
        </activity>
        <activity
            android:name="com.example.proyecto2.Lector"
            android:label="@string/title_activity_lector" >
        </activity>
        <activity
            android:name="com.example.proyecto2.Producto"
            android:label="@string/title_activity_lector" >
        </activity>
        <activity
            android:name="com.example.proyecto2.CreaBase"
            android:label="@string/title_activity_lector" >
        </activity>
        <activity
            android:name="com.example.proyecto2.MostrarProducto"
            android:label="@string/title_activity_mostrar_producto" >
        </activity>
        <activity
            android:name="com.example.proyecto2.Ayuda"
            android:label="@string/title_activity_ayuda" >
        </activity>
        <activity
            android:name="com.example.proyecto2.Acercade"
            android:label="@string/title_activity_acercade" >
        </activity>
    </application>

</manifest>
